# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
*_dev
*.jks
*.tar
*.gz
*.zip
*.log
*.png
* copy*
* - Copy*
*_SAVE*
etc/*/*_SAVE*
etc/*/*_TEST*
etc/*/* copy*
etc/*/*.crt
nexus-bootstrap/src/main/*/*_SAVE*
nexus-bootstrap/src/main/*/*_TEST*
nexus-bootstrap/src/main/*/* copy*
nexus-bootstrap/src/main/*/*.crt
nexus-bootstrap/src/main/groovy/com/github/alanger/nexus/bootstrap/*_SAVE*
nexus-bootstrap/src/main/groovy/com/github/alanger/nexus/bootstrap/*_TEST*
nexus-bootstrap/src/main/groovy/com/github/alanger/nexus/bootstrap/* copy*
