*.iml
.idea
.settings
.classpath
.project
.vscode
nexus-public
old
target
bin
etc/orient
etc/fabric
etc/karaf
compose.override.yml
*_dev
*_data
*_prod
*\.jar
*\.kar
*\.tar
*\.gz
*\.zip
*\.log
*\.png
*\.crt
*\.key
ssl.conf
*Debug\.java
* copy*
* - Copy*
* — копия*
*_SAVE*
*_TEST*
*.versionsBackup