<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" packagingData="false" debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <jmxConfigurator/>

  <appender name="osgi" class="org.ops4j.pax.logging.logback.internal.bridges.PaxAppenderDelegate">
    <filter class="org.sonatype.nexus.pax.logging.NexusLogFilter" />
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="org.sonatype.nexus.pax.logging.NexusLogFilter" />
    <encoder>
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="jvm" class="ch.qos.logback.core.FileAppender">
    <File>${karaf.data}/log/jvm.log</File>
    <append>true</append>
  </appender>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/nexus.log</File>
    <Append>true</Append>
    <encoder class="org.sonatype.nexus.pax.logging.NexusLayoutEncoder">
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/nexus-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <filter class="org.sonatype.nexus.pax.logging.NexusLogFilter" />
  </appender>

  <appender name="clusterlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/nexus_cluster.log</File>
    <Append>true</Append>
    <encoder class="org.sonatype.nexus.pax.logging.NexusLayoutEncoder">
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/nexus_cluster-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <filter class="org.sonatype.nexus.pax.logging.ClusterLogFilter" />
  </appender>

  <appender name="tasklogfile" class="ch.qos.logback.classic.sift.SiftingAppender">
    <filter class="org.sonatype.nexus.pax.logging.TaskLogsFilter" />
    <discriminator>
      <key>taskIdAndDate</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="taskAppender" class="ch.qos.logback.core.FileAppender">
        <file>${karaf.data}/log/tasks/${taskIdAndDate}.log</file>
        <encoder class="org.sonatype.nexus.pax.logging.NexusLayoutEncoder">
          <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <appender name="replicationlogfile" class="ch.qos.logback.classic.sift.SiftingAppender">
    <filter class="org.sonatype.nexus.pax.logging.ReplicationLogsFilter" />
    <discriminator>
      <key>repositoryName</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="replicationAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${karaf.data}/log/replication/replication-${repositoryName}.log</file>
        <encoder class="org.sonatype.nexus.pax.logging.NexusLayoutEncoder">
          <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${karaf.data}/log/replication/replication-${repositoryName}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
          <maxHistory>90</maxHistory>
        </rollingPolicy>
      </appender>
    </sift>
  </appender>

  <appender name="outboundRequestslogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/outbound-request.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <filter class="org.sonatype.nexus.pax.logging.OutboundRequestsLogFilter" />
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/outbound-request-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>
  <logger name="outboundRequests">
    <appender-ref ref="outboundRequestslogfile"/>
  </logger>

  <appender name="auditlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/audit/audit.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <filter class="org.sonatype.nexus.pax.logging.AuditLogFilter"/>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/audit/audit-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="auditlog" additivity="false">
    <appender-ref ref="auditlogfile"/>
  </logger>

  <appender name="blobstore-reconciliation-log-file" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>blobstore-reconciliation-path</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${blobstore}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>%d{"yyyy-MM-dd HH:mm:ss"},%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${blobstore-reconciliation-path}/%d</fileNamePattern>
          <maxHistory>90</maxHistory>
        </rollingPolicy>
      </appender>
    </sift>
  </appender>
  <logger name="blobstore-reconciliation-log" additivity="false">
    <appender-ref ref="blobstore-reconciliation-log-file"/>
  </logger>

  <appender name="metrics" class="org.sonatype.nexus.pax.logging.InstrumentedAppender"/>

  <logger name="org.eclipse.jetty.webapp" level="INFO"/>
  <logger name="org.eclipse.jetty.webapp.StandardDescriptorProcessor" level="WARN"/>

  <logger name="org.apache.aries" level="WARN"/>
  <logger name="org.apache.felix" level="WARN"/>
  <logger name="org.apache.karaf" level="WARN"/>

  <!-- Set TRACE for Groovy scripts hot-reload -->
  <logger name="com.github.alanger.nexus.plugin.Init" level="TRACE" />
  <logger name="com.github.alanger.nexus.plugin.realm.NexusPac4jRealm" level="INFO" />
  <!-- <logger name="com.github.alanger.nexus.plugin.realm.NexusTokenRealm" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.plugin.ui.NonTransitiveSearchComponent" level="TRACE" /> -->
  <logger name="com.github.alanger.nexus.bootstrap.Main" level="INFO" />
  <!-- <logger name="com.github.alanger.nexus.bootstrap.ReloadCongiguration" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.bootstrap.DockerExtdirectFilter" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.bootstrap.DebugFilter" level="DEBUG" /> -->
  <!-- <logger name="com.github.alanger.nexus.bootstrap.EchoRealm" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.bootstrap.QuotaFilter" level="TRACE" /> -->

  <!-- <logger name="com.sonatype.nexus.risk.riskondisk.MaliciousRiskRegistriesCacheHelper" level="TRACE" /> -->
  <!-- <logger name="com.sonatype.nexus.risk.riskondisk.MaliciousRiskOnDiskCacheHelper" level="TRACE" /> -->

  <!-- SAML debug -->
  <!-- <logger name="com.github.alanger.nexus.plugin.Pac4jCallbackLogic" level="TRACE" /> -->
  <!-- <logger name="org.pac4j.jee.filter.SecurityFilter" level="TRACE" /> -->
  <!-- <logger name="org.pac4j.jee.filter.CallbackFilter" level="TRACE" /> -->
  <!-- <logger name="org.pac4j.saml.client" level="DEBUG" /> -->
  <!-- <logger name="org.pac4j.core.client" level="TRACE" /> -->
  <!-- <logger name="org.pac4j.saml.crypto" level="TRACE" /> -->
  <!-- <logger name="org.opensaml.saml" level="TRACE" /> -->
  <!-- <logger name="org.opensaml.xmlsec" level="TRACE" /> -->
  <!-- <logger name="org.opensaml.security" level="TRACE" />  -->

  <!-- DI debug -->
  <!-- <logger name="com.google.inject" level="TRACE" /> -->
  <!-- <logger name="org.eclipse.sisu.inject" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.siesta" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.security" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.plugin.DI" level="TRACE" /> -->

  <!-- User Token debug -->
  <!-- <logger name="org.sonatype.nexus.siesta.internal.UnexpectedExceptionMapper" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.extdirect.internal.ExtDirectExceptionHandler" level="OFF" /> -->
  <!-- <logger name="org.sonatype.nexus.repository.docker.internal.security.DockerTokenRealm" level="TRACE" /> -->
  <!-- <logger name="com.sonatype.nexus.repository.nuget.internal.rest.NugetApiKeyResource" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.plugin.rest.NugetApiKeyResource" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.plugin.apikey.ApiTokenService" level="TRACE" /> -->
  <!-- <logger name="com.github.alanger.nexus.plugin.apikey.ApiKeySanitizer" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.internal.security.apikey.upgrade.ApiKeyToSecretsTask" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.internal.security.apikey.ApiKeyStoreImpl" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.security.authc.FirstSuccessfulModularRealmAuthenticator" level="TRACE" /> -->
  <!-- <logger name="org.sonatype.nexus.security.token.BearerTokenRealm" level="TRACE" /> -->

  <!-- Startup progress log -->
  <logger name="org.sonatype.nexus.bootstrap" level="INFO" />
  <logger name="org.sonatype.nexus.extender.NexusLifecycleManager" level="INFO" />
  <logger name="org.sonatype.nexus.extender.NexusContextListener" level="INFO" />
  <!-- <logger name="org.sonatype.nexus.extender.NexusBundleTracker" level="INFO" /> -->
  <logger name="org.sonatype.nexus.rapture.internal.RaptureWebResourceBundle" level="INFO" />

  <include file="${karaf.data}/etc/logback/logback-overrides.xml" optional="true"/>
  <include file="${karaf.data}/etc/logback/logback-tasklogfile-appender-override.xml" optional="true"/>

  <root level="${root.level:-ERROR}">
    <appender-ref ref="osgi"/>
    <appender-ref ref="console"/>
    <appender-ref ref="jvm"/>
    <appender-ref ref="logfile"/>
    <appender-ref ref="clusterlogfile"/>
    <appender-ref ref="tasklogfile"/>
    <appender-ref ref="replicationlogfile"/>
    <appender-ref ref="metrics"/>
  </root>
</configuration>
